*.js
!jest.config.js
!frontend/**/*.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# Python
__pycache__/
.hypothesis/
*.py[cod]
*$py.class
.pytest_cache/
*.egg-info/
.venv/
venv/
